* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: sans-serif;
  transition: all 0.2s linear;
  color: white;
}

body {
  background: black;
}

html {
  font-size: 62.5%;
}

.text-anima {
  color: #fff;
  animation: row-and-shrink 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 5rem;
  height: 5rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: lightgray;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white
}
@keyframes row-and-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 50.5%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
